@media (max-width: 1365px) {
    * {
        margin-bottom: 0;
    }
    .header {
        &__title {
        font-size: 54px;
        }
        &__subtitle {
            margin-right: 15px;
        }
    }
    .partners {
        &__client {
            &-item {
                max-width: 890px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .header {
        &__title {
        font-size: 48px;
        margin-top: 45px;
        }
        &__description {
            margin-left: 90px;
        }
        &__illustration img{
            max-width: 500px;
            margin-top: 65px;
        }
    }
    .offer {
        &__info {
            font-size: 30px;
            margin-left: 35px;
        }
    }
    .partners {
        &__client {
            padding-left: 68px;
            padding-right: 40px;
        }
    }
    .footer {
        &__wrapper {
            padding-left: 80px;
        }
        &__info-btn {
            margin-left: 20px;
            margin-right: 50px;
        }
        &__company {
            &-about {
                margin-left: 60px;
            }
            &-social {
                margin-left: 60px;
            }
        }
        &__line {
            width: 780px;
        }
    }
}

@media (max-width: 991px) {
    .header {
        &__title {
        font-size: 42px;
        }
        &__subtitle {
            margin-top: 223px;
        }
        &__illustration img{
            max-width: 400px;
        }
        &__button button {
            margin-top: 30px;
        }
    }
    .offer {
        &__wrapper {
            max-width: 940px;
            margin-top: 100px;
            row-gap: 30px;
            column-gap: 30px;
            padding-bottom: 100px;
        }
    }
    .partners {
        &__client {
            &-item {
                margin-top: 45px;
            }
            &-logo {
                font-size: 15px;
                line-height: 115px;
            }
        }
    }
    .footer {
        &__wrapper {
            padding-bottom: 40px;
            padding-left: 30px;
        }
        &__company {
            &-about {
                margin-left: 30px;
            }
            &-social {
                margin-left: 30px;
            }
        }
        &__btn {
            margin-top: 58px;
        }
        &__line {
            width: 612px;
        }
    }

    .project {
        &__wrapper {
            padding: 0 20px;
        }
        &__header {
            padding: 20px;
            padding-top: 0;
        }
        &__title {
            font-size: 22px;
            line-height: 36px;
        }
        &__descr {
            font-size: 13px;
            margin-left: 20px;
        }
        &__projects {
            row-gap: 0;
            column-gap: 30px;
            margin: 0;
        }
        &__smart img{
            max-width: 100%;
        }
        &__spark img{
            max-width: 100%;
        }
        &__car img{
            max-width: 100%;
        }
        &__logo {
            margin-top: 20px;
            margin-bottom: 100px;
        }
    }
}

@media (max-width: 767px) {
    .header {
        &__title {
        font-size: 38px;
        line-height: 60px;
        }
        &__subtitle {
            margin-top: 190px;
        }
        &__illustration img{
            display: none;
        }
        &__button button.btn {
            width: 200px;
            height: 49px;
        }
    }
    .offer {
        &__info {
            font-size: 20px;
            line-height: 30px;
        }
        &__title {
            font-size: 15px;
            line-height: 23px;
        }
        &__text {
           font-size: 12px;
           line-height: 23px;
        }
        &__wrapper {
            grid-template: 100px 1fr 1fr 1fr/ 1fr;
            padding-bottom: 40px;
        }
        &__item {
            &_right-top {
                grid-column: 1 / 1;
                grid-row: 2 / 3;
                justify-self: center;
            }
            &_right-bottom {
                grid-column: 1 / 1;
                grid-row: 3 / 4;
                justify-self: center;
            }
            &_left-center {
                grid-column: 1 / 1;
                grid-row: 4 / 5;
                justify-self: center;
            }
        }
    }
    .partners {
        &__client {
            max-height: 580px;
            &-logo {
                font-size: 10px;
                line-height: 70px;
            }
            &-header h2 {
                font-size: 30px;
            }
            &-descr p {
                font-size: 16px;
            }
        }
    }
    .footer {
        &__wrapper {
            padding-top: 46px;
            border-radius: 12px 36px 0px 0px;
            margin-right: 0;
        }
        &__info {
            display: block;
            &-btn {
                margin-left: 0;
                btn {
                    width: 166px;
                }
            }
        }
        &__btn {
            margin-top: 30px;
        }
        &__line {
            width: 415px;
        }
        &__company {
            &-wrapper {
                margin-top: 60px;
                flex-wrap: wrap;
            }
        }
        &__rights {
            font-size: 12px;
        }
    }
    .project {
        &__header {
            margin-top: 50px;
        }
        &__title {
            font-size: 20px;
            line-height: 32px;
        }
        &__smart-text {
            top: 0;
        }
        &__spark-text h2 {
            font-size: 19px;
            line-height: 30px;
        }
        &__car-text h2 {
            font-size: 19px;
            line-height: 30px;
        }
    }
    .footer {
        &__company {
            &-logo {
                li {
                    font-size: 12px;
                    line-height: 0;
                }
                h2 {
                    font-size: 18px;
                    line-height: 11px;
                }
            }
            &-contact ol {
                li {
                    font-size: 12px;
                    line-height: 24px;
                }
            }
            &-about {
                margin-left: 15px;
                li {
                    font-size: 12px;
                }
                h2 {
                    font-size: 15px;
                    line-height: 20px;
                }
            }  
            &-social {
                margin-left: 20px;
                li {
                    font-size: 12px;
                }
                h2 {
                    font-size: 15px;
                    line-height: 20px;
                }
            }   
        }
        &__line {
            display: none;
        }
    }
    .modal {
        width: 470px;
    }
}

@media (max-width: 543px) {
    .header {
        &__navigation {
            margin: 22px 35px 0 25px;
        }
        &__title {
        font-size: 28px;
        line-height: 50px;
        margin-top: 30px;
        }
        &__subtitle {
            margin-top: 160px;
        }
        &__description {
            margin-left: 30px;
        }
        &__button {
            button.btn {
                width: 170px;
                height: 46px;
            }
        }
    }
    .offer {
        &__wrapper {
            grid-template: 100px 1fr 1fr 1fr/ 1fr;
            padding-bottom: 40px;
            margin-top: 50px;
        }
        &__info {
            margin-left: 46px;
        }
        &__item {
            &_right-top {
                grid-column: 1 / 1;
                grid-row: 2 / 3;
                justify-self: center;
            }
            &_right-bottom {
                grid-column: 1 / 1;
                grid-row: 3 / 4;
                justify-self: center;
            }
            &_left-center {
                grid-column: 1 / 1;
                grid-row: 4 / 5;
                justify-self: center;
            }
        }
        &__img-wrapper {
            height: 100px;
        }
        &__image {
            &_top {
                height: 164px;
            }
        }
    }
    .partners {
        &__wrapper {
            border-radius: 100px 0px 0px 0px;
        }
        &__client {
            padding-top: 40px;
            &-item {
                margin-top: 0;
                grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr;
                row-gap: 0;
                column-gap: 0;
            }
            &-logo {
                font-size: 10px;
                line-height: 70px;
            }
            &-text {
                flex-direction: column;
            }
            &-header {
                h2 {
                    font-size: 20px;
                }
            }
            &-descr {
                margin-left: 0;
                p {
                    font-size: 12px;
                }
            }
        }
    }
    .footer {
        &__info {
            &-text {
                h2 {
                    font-size: 30px;
                    line-height: 36px;
                }
                p {
                    font-size: 13px;
                }
            }
        }
        &__btn {
            width: 170px;
            height: 46px;
        }
        &__company {
            &-wrapper {
                margin-top: 60px;
            }
            &-contact {
                margin-bottom: 20px;
            }
        }
    }
    .project {
        &__projects {
            column-gap: 10px;
        }
        &__descr {
            font-size: 12px;
            line-height: 18px;
        }
        &__smart-text {
            h2 {
                font-size: 14px;
            }
            h3 {
                font-size: 10px;
                line-height: 0;
            }
        }
        &__spark-text {
            h2 {
                font-size: 12px;
                line-height: 24px;
            }
            h3 {
                font-size: 10px;
                line-height: 13px;
            }
        }
        &__car-text {
            h2 {
                font-size: 12px;
                line-height: 24px;
            }
            h3 {
                font-size: 10px;
                line-height: 13px;
            }
        }
        &__logo {
            margin-bottom: 50px;
        }
    }
    .modal {
        width: 300px;
        padding: 20px;
    }
    .feed-form {
        &__title {
            font-size: 13px;
        }
        &__input {
            margin-top: 20px;
            input {
                height: 32px;
                padding: 10px;
                font-size: 14px;
            }
            label {
                font-size: 14px;
            }
            input::placeholder {
                font-size: 14px;
            }
        }
        &__textarea {
            label {
                font-size: 14px;
            }
            textarea {
                padding: 10px;
                font-size: 14px;
                max-height: 74px;
            }
            textarea::placeholder {
                font-size: 14px;
            }

        }
        button {
            margin-top: 24px;
            font-size: 12px;
            height: 28px;
        }
    }
}   