.footer {
    &__wrapper {
        max-width: 1270px;
        padding: 91px 0 64px 213px;
        background: $darkblue;
        border-radius: 0px 200px 0px 0px;
        margin-right: 96px;
    }
    &__background {
        max-width: 1366px;
        background: $blue;
    }
    &__info {
        display: flex;
        &-text {
            max-width: 460px;
        }
        &-descr {
            opacity: 0.6;
        }
        &-btn {
            margin-left: 125px;
        }
    } 
    &__btn {
        margin-top: 90px;
        &:hover {
            box-shadow: 5px 10px 20px rgba(253, 253, 253, 0.2);
        }
    }
    &__line {
        position: absolute;
        width: 1020px;
        height: 1px;
        opacity: 0.4;
        background-color: #fff;
        position: absolute;
        left: 0;
        top: 465px;
    }
    &__company {
        &-wrapper {
            margin-top: 193px;
            display: flex;
        }
        &-logo {
            display: flex;
            align-content: center;
            img {
                margin: auto 0;
            }
            h2 {
                font-size: 28px;
                line-height: 46px;
                color: #FFFFFF;
                margin-left: 16px;
                letter-spacing: 0.02em;
            }
        }
        &-contact ol {
            padding: 0;
            li {
                margin-top: 24px;
                margin-left: 20px;
                &.inf {
                    list-style-type: "A.";
                }
                &.tel {
                    list-style-type: "T.";
                }
                &.mail {
                    list-style-type: "E.";
                }
                span {
                    display: block;
                    margin-left: 20px;
                }
                a {
                    margin-left: 20px;
                    text-decoration: none;
                    color: #FFFFFF;
                    &:hover {
                        color:#c4e3ff;
                    }
                }
            }
        }
        &-about {
            margin-left: 120px;
            h2 {
                font-size: 20px;
                line-height: 30px;
                letter-spacing: 0.05em;
                color: #FFFFFF;
                margin-bottom: 32px;
            }
            ol {
                padding: 0;
                li {
                    list-style-type: none;
                    margin-top: 16px;
                    a {
                        text-decoration: 0;
                        color: #FFFFFF;
                        &:hover {
                            color:#c4e3ff;
                        }
                    }
                }
            }
        }
        &-social {
            margin-left: 77px;
            h2 {
                font-size: 20px;
                line-height: 30px;
                letter-spacing: 0.05em;
                color: #FFFFFF;
                margin-bottom: 32px;
            }
            ol {
                padding: 0;
                li {
                    list-style-type: none;
                    margin-top: 16px;
                    a {
                        text-decoration: 0;
                        color: #FFFFFF;
                        &:hover {
                            color:#c4e3ff;
                        }
                    }
                }
            }
        }   
    }
    &__rights {
        margin-top: 64px;
        margin-bottom: 0;
        color: #FFFFFF;
        opacity: 0.4;
        font-weight: 100;
    }
}