.feed-form {
    width: 100%;
    &__title {
        font-size: 20px;
        line-height: 30px;
        font-weight: 500;
        color: #1F3F68;
    }
    &__input {
        margin-top: 32px;
        label {
            display: block;
            font-size: 16px;
            color: #1F3F68;
            opacity: 0.8;
        }
        input {
            display: block;
            margin-top: 8px;
            height: 72px;
            width: 100%;
            border: 1px solid rgba(53, 110, 173, 0.4);
            border-radius: 10px;
            font-size: 20px;
            font-weight: 300;
            color: #1F3F68;
            padding-left: 42px;
            padding-bottom: 5px;
        }
        input::placeholder {
            font-size: 16px;
            line-height: 16px;
            color: rgba(31, 63, 104, 1);
            opacity: 0.4;
        }
    }
    &__textarea {
        margin-top: 32px;
        
        label {
            display: block;
            font-size: 16px;
            color: #1F3F68;
            opacity: 0.8;
        }
        textarea {
            display: block;
            margin-top: 8px;
            width: 100%;
            border: 1px solid rgba(53, 110, 173, 0.4);
            border-radius: 10px;
            font-size: 20px;
            font-weight: 300;
            color: #1F3F68;
            padding: 21px 42px 21px 42px;
            height: 144px;
            resize: none;
        }
        textarea::placeholder {
            font-size: 16px;
            line-height: 16px;
            color: rgba(31, 63, 104, 1);
            opacity: 0.4;
        }
    } 
    button {
        margin-top: 72px;
        width: 100%;
        &:hover {
            box-shadow: none;
            opacity: 70%;
        }
    }
}

.errorInput {
    position: absolute;
    margin-top: 5px;
    font-size: 12px;
    color: red;
    opacity: 0.7;
}
